


#indiadate{
    background-color: rgb(21, 122, 89);
    width: 20%;
    height: 200px;
    text-align: center;
    border: 2px solid rgb(22, 231, 161);
    border-radius: 10px;
}


#india{
    color: aliceblue;
}

h1{
    color: aliceblue;
    padding-top: 40px;
}

#newtime{
    background-color: rgb(14, 83, 122);
    width: 20%;
    height: 200px;
    text-align: center;
    border: 2px solid aquamarine;
    border-radius: 10px;
}