*{
    margin: 0;
    padding: 0;
}

#details{
   background-color: whitesmoke;
   width: 70%;
   height: 100%;
   margin-top: 80px;
   margin-left: 180px;
}

img{
    margin-left: 280px;
    margin-top: 50px;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(31, 186, 214);
}

input{
    width: 55%;
    margin-left: 100px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid black;
}

button{
    background-color: rgb(31, 186, 214);
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
    border: 1px solid aqua;
}

p{
    font-size: 20px;
    margin-left: 95px;
    padding: 30px;
    color: rgb(99, 93, 93);
}

#line{
    font-size: 20px;
    font-weight: 900;
    margin-left: 150px;
    padding: 30px;
    color: black;
}


#homePage{
    padding-bottom: 50px;
    border-top: 2px solid gray;
}

h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(31, 186, 214);
}

#btn1{
    width: 250px;
    padding: 10px;
    margin-left: 75px;
    margin-top: 20px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}
 #btn1:hover{
    background-color: rgb(31, 186, 214);
    color: aliceblue;
}

#btn2{
    width: 250px;
    padding: 10px;
    margin-left: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#btn2:hover{
    background-color: rgb(31, 186, 214);
    color: aliceblue;
}

#btn3{
    width: 250px;
    padding: 10px;
    margin-left: 75px;
    margin-top: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#btn3:hover{
    background-color: rgb(31, 186, 214);
    color: aliceblue;
}

#btn4{
    width: 250px;
    padding: 10px;
    margin-left: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#btn4:hover{
    background-color: rgb(31, 186, 214);
    color: aliceblue;
}

div{
    background-color: whitesmoke;
    width: 70%;
    height: 100%;
    margin-top: 80px;
    margin-left: 180px;
}

.btn{
     width: 250px;
    padding: 10px;
    margin-left: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

.btn:hover{
    background-color: rgb(31, 186, 214);
    color: aliceblue;
}

#quizPage{
    background-color: whitesmoke;
   width: 70%;
   height: 40%;
   margin-top: 80px;
   margin-left: 180px;
}

#timer{
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#score{

}

#ans1{
    width: 250px;
    padding: 10px;
    margin-left: 75px;
    margin-top: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#ans2{
    width: 250px;
    padding: 10px;
    margin-left: 75px;
    margin-top: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#ans3{
    width: 250px;
    padding: 10px;
    margin-left: 75px;
    margin-top: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#ans4{
    width: 250px;
    padding: 10px;
    margin-left: 75px;
    margin-top: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
}

#ans1 :hover{
    background-color: rgb(31, 186, 214);
    color: white;
}

#next{
    width: 250px;
    padding: 10px;
    margin-left: 215px;
    margin-top: 25px;
    background: transparent;
    color: rgb(139, 131, 131);
    font-size: 20px;
    border:  2px solid aqua;
    margin-bottom: 50px;
}